p::first-letter {
  font-size: 2.5em;
  color: red;
}

li.not::hover::after {
  content: "<--------- A ESTE NO HAY QUE TOCARLO";
  color: red;
}

li.not::marker {
  content: "âœ";
  font-size: 2em;
}
